body {
    padding: 0;
    margin: 0;
    background-color:#111
}

label{
    color: #fff
}

.container{
    max-width: 100% !important
}

.navbar.navbar-default {
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0;
    height: 80px;
}

    .navbar.navbar-default a {
        color: #aaa !important;
    }

        .navbar.navbar-default a:hover {
            color: #fff !important;
        }

.navbar #navbar-logo img {
    height: 80px;
    margin-top: -8%;
}

.container-fluid {
    margin-top: 1% !important;
}

#navbar-logo {
    padding-top: 0;
}

#main-container {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: -1px;
}

.panel-heading {
    background-color: #1a1a1a !important;
    color: #aaa !important;
}

.profileNames {
    text-align: center;
}

.avatar{
    padding: 20px;
}

#avatar{
    max-width: 100%;
}

.gender {
    position: relative;
    display: block;
    margin: auto;
}

.gender-in{
    width:50%;
    margin-left: 33%
}

.gender-icon {
    max-height: 50px;
    opacity: 0.5;
}

    .gender-icon.active {
        opacity: 1;
    }

    .update-profile a{
        color: #000
    }

/*.box {
    width: 100%;
    height: 330px;
    border-radius: .5em;
}

.slider {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    transform: skewX(-20deg);
    transition: width 1.2s ease-in-out;
    margin-left: -76px;
   pointer-events: none;
}

.sunrise {
    position: absolute;
    background: url('../Images/perfect-relationship.jpg') no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.sunset {
    transform: skewX(20deg);
    background-image: url('../Images/635634260119329904-1287501582_boyfriend-cheats.imgopt1000x70.jpg');
}

.slider:hover {
    width: 760px;
}
        
.sunrise:hover + .slider { 
    width: 250px;
}*/
