body {
    padding: 0;
    margin: 0;
    background-color: #111;
}

label, a {
    color: #fff;
}

    a:hover {
        color: #aaa;
    }

input {
    border-radius: 0 !important;
}

h1, h2, h3, h4 {
    color: #AB1613;
}

.container {
    max-width: 100% !important;
}

.row {
    max-width: 100% !important;
    margin: 0 !important;
}

.btn {
    color: #fff !important;
    background-color: #AB1613 !important;
    border-radius: 0;
    border: 0;
}

li.dropdown.open, .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > .open > a {
    background-color: #AB1613 !important;
}

.dropdown-menu {
    border-radius: 0;
}

.navbar.navbar-default {
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0;
    height: 80px;
}

    .navbar.navbar-default a {
        color: #aaa !important;
    }

        .navbar.navbar-default a:hover {
            color: #fff !important;
        }

.navbar #navbar-logo img {
    height: 80px;
    margin-top: -8%;
}

.container-fluid {
    margin-top: 1% !important;
}

#navbar-logo {
    padding-top: 0;
}

#main-container {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: -1px;
}

.panel-heading {
    background-color: #1a1a1a !important;
    color: #aaa !important;
}

.panel-body{
    background-color: #eee;
}

.profileNames, #logged-in-container .title {
    text-align: center;
}

.avatar {
    padding: 20px;
}

#avatar {
    max-width: 100%;
}

.gender {
    position: relative;
    display: block;
    margin: auto;
}

.gender-in {
    width: 50%;
    margin-left: 33%;
}

.gender-icon {
    max-height: 50px;
    opacity: 0.5;
}

    .gender-icon.active {
        opacity: 1;
    }

.update-profile a {
    color: #000;
}

.slider {
    min-height: 200px;
}

#home-form-group .row h1, #home-form-group .row a {
    position: relative;
    margin: auto;
}

#home-form-group .row {
    text-align: center;
    margin-bottom: 2% !important;
}

    #home-form-group .row a.signup {
        background-color: transparent !important;
        border: 1px solid #fff;
    }

        #home-form-group .row a.signup:hover {
            color: #fff !important;
            background-color: #AB1613 !important;
            border-radius: 0;
            border: 1px solid #AB1613;
        }

.slider .box img {
    margin: auto;
    position: relative;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    margin-bottom: 50px
}
.profile{
    padding: 5px;
    border: 1px solid transparent;
}

.profile img{
    max-height: 200px;
        margin: auto;
    position: relative;
    display: block;
}

.profile.info{
    text-align: center;
}

.profile strong{
    color: #999;
}

.profile:hover {
    background-color: #444;
    border: 1px solid #fff;

}
.profile:hover strong{
    color: #fff
}